{% set nav = {
    home: {
        title: "Home",
        hash: "home",
        terms: {
            1: "home"
        }
    },
    about: {
        title: "About Clone",
        hash: "about",
        terms: [
            "about clone"
        ],
        submenu: {
            "1": {
                title: "Why Clone?",
                hash: "about-why",
                terms: {
                    1: "About",
                    2: "Why use Clone?",
                    3: "Advantages",
                    4: "Benefits",
                    5: "Value Proposition"
                }
            },
            "2": {
                title: "Try or Install Clone",
                hash: "about-installation",
                terms: {
                    1: "About",
                    2: "Try or Install Clone"
                }
            },
            "3": {
                title: "How To Use Clone",
                hash: "about-usage",
                terms: {
                    1: "About",
                    2: "How to Use Clone"
                }
            },
            "4": {
                title: "Creating a Theme",
                hash: "about-themeing",
                terms: {
                    1: "About",
                    2: "Creating a Theme",
                    3: "Themeing",
                    4: "Theming"
                }
            },
            "5": {
                title: "Contributing",
                hash: "about-contributing",
                terms: {
                    1: "About",
                    2: "Contributing",
                    3: "Contribute",
                    4: "Github"
                }
            }
        }
    },
    essentials: {
        title: "Essentials",
        hash: "essentials",
        terms: [
            "essentials"
        ],
        submenu: {
            "1": {
                title: "Colour",
                hash: "colour",
                terms: [
                    "essentials",
                    "colour",
                    "color",
                    "c1",
                    "c2",
                    "c3",
                    "c4",
                    "c5"
                ]
            },
            "2": {
                title: "Typography",
                hash: "type",
                terms: [
                    "essentials",
                    "typography",
                    "type",
                    "font",
                    "scale",
                    "weight",
                    "line height"
                ]
            },
            "3": {
                title: "Flexbox Grid",
                hash: "flexbox-grid",
                terms: [
                    "essentials",
                    "flexbox grid",
                    "item"
                ]
            }
        }
    },
    menus: {
        title: "Menus",
        hash: "menus",
        terms: [
            "essentials",
            "menus",
            "navigation",
            "topbar",
            "sticky",
            "sidebar",
            "submenu"
        ]
    },
    utilities: {
        title: "Utilities",
        hash: "utilities",
        terms: [
            "utility",
            "utilities"
        ],
        submenu: {
            "1": {
                title: "Alignment",
                hash: "util-alignment",
                terms: [
                    "utility",
                    "utilities",
                    "alignment"
                ]
            },
            "2": {
                title: "Backgrounds",
                hash: "util-backgrounds",
                terms: [
                    "utility",
                    "utilities",
                    "backgrounds"
                ]
            },
            "3": {
                title: "Borders",
                hash: "util-borders",
                terms: [
                    "utility",
                    "utilities",
                    "borders"
                ]
            },
            "10": {
                title: "Cards",
                hash: "util-cards",
                terms: [
                    "utility",
                    "utilities",
                    "cards"
                ]
            },
            "4": {
                title: "Containers",
                hash: "util-containers",
                terms: [
                    "utility",
                    "utilities",
                    "containers"
                ]
            },
            "5": {
                title: "Fonts & Font Styles",
                hash: "util-fonts",
                terms: [
                    "utility",
                    "utilities",
                    "fonts",
                    "font styles"
                ]
            },
            "6": {
                title: "Margins & Padding",
                hash: "util-whitespace",
                terms: [
                    "utility",
                    "utilities",
                    "whitespace",
                    "margins",
                    "padding"
                ]
            },
            "7": {
                title: "Overlays",
                hash: "util-overlays",
                terms: [
                    "utility",
                    "utilities",
                    "overlays"
                ]
            },
            "8": {
                title: "Radius",
                hash: "util-radius",
                terms: [
                    "utility",
                    "utilities",
                    "radius"
                ]
            },
            "9": {
                title: "Visibility",
                hash: "util-visibility",
                terms: [
                    "utility",
                    "utilities",
                    "visibility"
                ]
            }
        }
    },
    components: {
        title: "components",
        submenu: {
            "1": {
                title: "accordions",
                hash: "accordions",
                terms: [
                    "components",
                    "accordions"
                ]
            },
            "2": {
                title: "alerts",
                hash: "alerts",
                terms: [
                    "components",
                    "alerts",
                    "toast"
                ]
            },
            "3": {
                title: "back-to-top links",
                hash: "back-to-top-links",
                terms: [
                    "components",
                    "back to top links",
                    "return"
                ]
            },
            "4": {
                title: "blockquotes",
                hash: "blockquotes",
                terms: [
                    "components",
                    "blockquotes"
                ]
            },
            "5": {
                title: "breadcrumbs",
                hash: "breadcrumbs",
                terms: [
                    "components",
                    "breadcrumbs"
                ]
            },
            "6": {
                title: "buttons",
                hash: "buttons",
                terms: [
                    "components",
                    "buttons"
                ]
            },
            "7": {
                title: "carousels",
                hash: "carousels",
                terms: [
                    "components",
                    "carousels"
                ]
            },
            "8": {
                title: "dialogs",
                hash: "dialogs",
                terms: [
                    "components",
                    "dialogs",
                    "dialogues",
                    "modals"
                ]
            },
            "9": {
                title: "iframes",
                hash: "iframes",
                terms: [
                    "components",
                    "iframes",
                    "video",
                    "image",
                    "embed"
                ]
            },
            "10": {
                title: "inputs",
                hash: "inputs",
                terms: [
                    "components",
                    "inputs"
                ],
                submenu: {
                    "1": {
                        title: "checkboxes",
                        hash: "input-checkbox",
                        terms: [
                            "components",
                            "inputs",
                            "checkbox"
                        ]
                    },
                    "2": {
                        title: "dates",
                        hash: "input-date",
                        terms: [
                            "components",
                            "inputs",
                            "dates",
                            "calendar"
                        ]
                    },
                    "3": {
                        title: "dropdowns",
                        hash: "input-dropdown",
                        terms: [
                            "components",
                            "inputs",
                            "dropdowns",
                            "selects"
                        ]
                    },
                    "4": {
                        title: "emails",
                        hash: "input-email",
                        terms: [
                            "components",
                            "inputs",
                            "emails"
                        ]
                    },
                    "5": {
                        title: "numbers",
                        hash: "input-number",
                        terms: [
                            "components",
                            "inputs",
                            "numbers"
                        ]
                    },
                    "6": {
                        title: "passwords",
                        hash: "input-password",
                        terms: [
                            "components",
                            "inputs",
                            "passwords"
                        ]
                    },
                    "7": {
                        title: "radios",
                        hash: "input-radio",
                        terms: [
                            "components",
                            "inputs",
                            "radios"
                        ]
                    },
                    "8": {
                        title: "text",
                        hash: "input-text",
                        terms: [
                            "components",
                            "inputs",
                            "texts"
                        ]
                    },
                    "9": {
                        title: "textareas",
                        hash: "input-textarea",
                        terms: [
                            "components",
                            "inputs",
                            "textareas"
                        ]
                    },
                    "10": {
                        title: "text with button",
                        hash: "input-with-button",
                        terms: [
                            "components",
                            "inputs",
                            "buttons"
                        ]
                    },
                    "11": {
                        title: "urls",
                        hash: "input-url",
                        terms: [
                            "components",
                            "inputs",
                            "urls"
                        ]
                    }
                }
            },
            "11": {
                title: "pullquotes",
                hash: "pullquotes",
                terms: [
                    "components",
                    "pullquotes"
                ]
            },
            "12": {
                title: "skip-to-content links",
                hash: "skip-to-content-links",
                terms: [
                    "components",
                    "skip to content links"
                ]
            },
            "13": {
                title: "tables",
                hash: "tables",
                terms: [
                    "components",
                    "tables"
                ]
            },
            "14": {
                title: "tags",
                hash: "tags",
                terms: [
                    "components",
                    "tags",
                    "badge"
                ]
            }
        }
    }
} %}

<button 
    type="button"
    data-c-button="solid(c3)"
    data-c-menu-mobile-trigger
    role="button"
    aria-label="This button opens the main navigation menu."
    aria-pressed="false">
    <span>Open</span><span>Close</span> Menu
</button>

<nav data-c-menu>
    <div data-c-padding="top(triple) bottom(double)">
        <img src="img/clone-white.svg">
    </div>
    <form>
        <div data-c-input="text">
            <label data-c-colour="white" for="cloneSearch">Search Clone</label>
            <span>Required</span>
            <div>
                <input id="cloneSearch" placeholder="e.g. margins" type="text" />
            </div>
            <span>This input has an error.</span>
        </div>
    </form>
    <div class="clone-search-results" data-c-padding="bottom(double)">
        <div data-c-grid="gutter middle">
            <div data-c-grid-item="base(1of2)">
                <p data-c-font-weight="600" data-c-colour="c1">Results</p>
            </div>
            <div data-c-grid-item="base(1of2)" data-c-align="base(right)">
                <button id="clearSearch" class="clone-search-clear-button" data-c-color="white" data-c-font-size="small">
                    Clear Search
                </button>
            </div>
        </div>
        <hr data-c-margin="tb(normal)">
        <div class="clone-search-null">
            <p data-c-colour="white">No Results :(</p>
        </div>
        <div>
            <ul data-c-colour="white">
                {% for topItem in nav %}
                {% if topItem.hash %}
                    <li>
                        <a data-terms="{% for term in topItem.terms %}{{ term }}, {% endfor %}" href="#{{ topItem.hash }}">{{ topItem.title|title }}</a>
                    </li>
                {% endif %}
                {% if topItem.submenu %}
                    {% for secondItem in topItem.submenu %}
                        <li>
                            {% if secondItem.hash %}
                                <a data-terms="{% for term in secondItem.terms %}{{ term }}, {% endfor %}" href="#{{ secondItem.hash }}">{{ secondItem.title|title }}</a>
                            {% endif %}
                        </li>
                        {% if secondItem.submenu %}
                            {% for thirdItem in secondItem.submenu %}
                                <li>
                                    {% if thirdItem.hash %}
                                        <a data-terms="{% for term in thirdItem.terms %}{{ term }}, {% endfor %}" href="#{{ thirdItem.hash }}">{{ thirdItem.title|title }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <ul>
        {% for topItem in nav %}
            <li>
                {% if topItem.hash %}
                    <a href="#{{ topItem.hash }}">{{ topItem.title|title }}</a>
                {% else %}
                    <p>{{ topItem.title|title }}</p>
                {% endif %}
                {% if topItem.submenu %}
                    <button data-c-menu-submenu-trigger>
                        <i data-c-menu-add class="material-icons">add</i>
                        <i data-c-menu-remove class="material-icons">remove</i>
                    </button>
                    <ul data-c-colour="white">
                        {% for secondItem in topItem.submenu %}
                            <li>
                                {% if secondItem.hash %}
                                    <a href="#{{ secondItem.hash }}">{{ secondItem.title|title }}</a>
                                {% else %}
                                    <p>{{ secondItem.title|title }}</p>
                                {% endif %}
                                {% if secondItem.submenu %}
                                    <button data-c-menu-submenu-trigger>
                                        <i data-c-menu-add class="material-icons">add</i>
                                        <i data-c-menu-remove class="material-icons">remove</i>
                                    </button>
                                    <ul data-c-colour="white">
                                        {% for thirdItem in secondItem.submenu %}
                                            <li>
                                                {% if thirdItem.hash %}
                                                    <a href="#{{ thirdItem.hash }}">{{ thirdItem.title|title }}</a>
                                                {% else %}
                                                    <p>{{ thirdItem.title|title }}</p>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>