<a id="about-installation"></a>
<h3
    data-c-font-size="h3"
    data-c-colour="c1"
    data-c-font-weight="600"
    data-c-margin="bottom(normal)">
    Installation
</h3>

<ul>
    <li>
        <a href="#about-installation-try" title="Learn about how you can try Clone out before using it on a project.">
            Try It Out
        </a>
    </li>
    <li>
        <a href="#about-installation-cdn" title="Learn how you can use a CDN to install Clone on your project.">
            Content Delivery Network (CDN)
        </a>
    </li>
    <li>
        <a href="#about-installation-npm" title="Learn how youc an use NPM to install Clone on your project.">
            Node Package Manager (NPM)
        </a>
    </li>
</ul>

<div>
    {# Try It Out #}
    <a id="about-installation-try"></a>
    <h4
        data-c-font-size="h4"
        data-c-margin="top(double) bottom(normal)">
        Try It Out
    </h4>
    <p data-c-margin="bottom(normal)">There are 2 ways for you to try Clone out before you install it on your project:</p>
    <ul>
        <li><a href="https://codesandbox.io/embed/clone-sandbox-ejqcl" title="Try Clone out in your browser." target="_blank">Clone Sandbox</a>
            <ul>
                <li>
                    This allows you to try Clone out right in your browser with no installation required.
                </li>
                <li>
                    This is useful for testing small interactions or quickly prototyping a layout.
                </li>
                <li>
                    This option is also useful for learning Clone risk free.
                </li>
            </ul>
        </li>
        <li><a href="https://github.com/joshdrink/clone-playground" title="Download and install Clone as a development environment." target="_blank">Clone Playground</a>
            <ul>
                <li>
                    This lets you pull down a full development environment that let's you theme and prototype using Clone.
                </li>
                <li>
                    This option is great for building static websites or prototypes (they can even be hosted on Github Pages!).
                </li>
            </ul>
        </li>
    </ul>
    {# Install via CDN #}
    <a id="about-installation-cdn"></a>
    <h4
        data-c-font-size="h4"
        data-c-margin="top(double) bottom(normal)">
        Content Delivery Network (CDN)
    </h4>
    <p data-c-margin="bottom(half)">This option forces the use of the Brave default theme.</p>
    <p>If you want to get Clone up and running and have no interest in creating your own theme, you can include Clone's CSS and JavaScript files as linked resources. This allows for a quick and easy way to generate prototypes using Clone's native theme (See <a href="#about-themeing">Themeing</a> for more information on Brave, Clone's default theme).</p>
    <h5
        data-c-font-size="h5"
        data-c-font-weight="600"
        data-c-margin="top(double) bottom(normal)">
        Without Flexbox Grid
    </h5>
    <div data-c-margin="bottom(half)">
        <img alt="GitHub file size in bytes" src="https://img.shields.io/github/size/joshdrink/clone-framework/dist/css/gzip/clone-gridless.min.css.gz.svg?label=CSS%20%28minified%2C%20gzipped%29">
        <img alt="GitHub file size in bytes" src="https://img.shields.io/github/size/joshdrink/clone-framework/dist/js/gzip/clone.min.js.gz.svg?label=JS%20%28minified%2C%20gzipped%29">
    </div>
    <pre><code class="language-twig">{% filter escape %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/clone-framework@{{ cloneVersion }}/dist/css/clone-gridless.min.css">
<script src="https://cdn.jsdelivr.net/npm/clone-framework@{{ cloneVersion }}/dist/js/clone.min.js"></script>{% endfilter %}</code></pre>
    <h5
        data-c-font-size="h5"
        data-c-font-weight="600"
        data-c-margin="top(double) bottom(normal)">
        With Flexbox Grid
    </h5>
    <div data-c-margin="bottom(half)">
        <img alt="GitHub file size in bytes" src="https://img.shields.io/github/size/joshdrink/clone-framework/dist/css/gzip/clone.min.css.gz.svg?label=CSS%20%28minified%2C%20gzipped%29">
        <img alt="GitHub file size in bytes" src="https://img.shields.io/github/size/joshdrink/clone-framework/dist/js/gzip/clone.min.js.gz.svg?label=JS%20%28minified%2C%20gzipped%29">
    </div>
    <pre><code class="language-twig">{% filter escape %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/clone-framework@{{ cloneVersion }}/dist/css/clone.min.css">
<script src="https://cdn.jsdelivr.net/npm/clone-framework@{{ cloneVersion }}/dist/js/clone.min.js"></script>{% endfilter %}</code></pre>
    {# Install via NPM #}
    <a id="about-installation-npm"></a>
    <h4
        data-c-font-size="h4"
        data-c-margin="top(double) bottom(normal)">
        Node Package Manager (NPM)
    </h4>
    <p data-c-margin="bottom(half)">This option allows you to fully customize Clone's theme.</p>
    <p data-c-margin="bottom(half)">
        Clone is built in a way that allows you to theme the aesthetic of the system without the need to alter Clone's source files. This means that you'll be able to update Clone without any worry of losing or modifying your changes. All theming will occur in your project's root Sass directory and pull Clone's primary .scss file from node_modules.
    </p>
    <p data-c-margin="bottom(normal)">
        While it doesn't matter how your project compiles Sass, theming Clone requires that your project be running <a href="https://sass-lang.com/" title="Learn more about Sass." target="_blank">Sass</a>, <a href="https://github.com/postcss/autoprefixer" title="Learn more about Autoprefixer." target="_blank">Autoprefixer</a>, and <a href="https://jquery.com/" title="Learn more about jQuery." target="_blank">jQuery</a>.
    </p>
    <ol data-c-margin="bottom">
        <li>From inside your project, run <code class="language-bash">npm install clone-framework --save-dev</code></li>
        <li>At the top of your main project <code class="language-md">.scss</code> file, include the following:</li>
    </ol>
    <pre><code class="language-scss">{% filter escape %}// My Custom Clone Theme
// Please note that Clone must be included last, after all of your custom variables.

// Clone Theme Variables
// All available theme variables can be found at https://github.com/joshdrink/clone-framework/blob/master/app/scss/core/_defaults.scss

// Include Clone
@import "../node_modules/clone-framework/app/scss/clone";

// Your CSS Goes Below Here{% endfilter %}</code></pre>
    <p data-c-margin="top(normal) bottom(normal)">
        For now, it is also required that Clone's JavaScript file be imported using the CDN.
    </p>
    <pre><code class="language-twig">{% filter escape %}<script src="https://cdn.jsdelivr.net/npm/clone-framework@{{ cloneVersion }}/dist/js/clone.min.js"></script>{% endfilter %}</code></pre>
</div>