<div>
    <nav
        aria-label="breadcrumb"
        data-c-breadcrumbs>
        <ol>
            <li>
                <a
                    href="/"
                    title="Return to the Clone homepage.">Home</a><i>/</i>
            </li>
            {% for main in navigation %}
                {% if component.id == main.id %}
                    <li>
                        <a
                            href="{{ main.hash }}"
                            title="Return to {{ main.title|title }}">{{ main.title|title }}</a><i>/</i>
                    </li>
                {% endif %}
                {% for lvl1 in main.submenu %}
                    {% if component.id == lvl1.id %}
                        <li>
                            <a
                                href="{{ loop.parent.main.hash }}"
                                title="Return to {{ loop.parent.main.title|title }}">{{ loop.parent.main.title|title }}</a><i>/</i>
                        </li>
                        <li>
                            <a
                                href="{{ lvl1.hash }}"
                                title="Return to {{ lvl1.title|title }}">{{ lvl1.title|title }}</a><i>/</i>
                        </li>
                    {% endif %}
                    {% for lvl2 in lvl1.submenu %}
                        {% if component.id == lvl2.id %}
                            <li>
                                <a
                                    href="{{ loop.parent.loop.parent.main.hash }}"
                                    title="Return to {{ loop.parent.loop.parent.main.title|title }}">{{ loop.parent.loop.parent.main.title|title }}</a><i>/</i>
                            </li>
                            <li>
                                <a
                                    href="{{ loop.parent.lvl1.hash }}"
                                    title="Return to {{ loop.parent.lvl1.title|title }}">{{ loop.parent.lvl1.title|title }}</a><i>/</i>
                            </li>
                            <li>
                                <a
                                    href="{{ lvl2.hash }}"
                                    title="Return to {{ lvl2.title|title }}">{{ lvl2.title|title }}</a><i>/</i>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </ol>
    </nav>
</div>