<h2 data-c-heading="h2" data-c-margin="top(3) bottom(1)">Changelog</h2>

{% set changePresence = false %}

{% for keyX, versionX in changes %}
    {% for keyXX, versionXX in versionX.versions %}
        {% for keyXXX, versionXXX in versionXX.versions %}
            {% set titlePresence = true %}
            {% for change in versionXXX.changes %}
                {% if change.components is iterable %}
                    {% for componentID in change.components %}
                        {% if component.id == componentID %}
                            {% if titlePresence == true %}
                                <h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">Version {{ keyXXX }}</h3>
                                <ul>
                            {% endif %}
                            {% set changePresence = true %}
                                {% include "component-version.twig" with {"key": keyXXX, titlePresence} %}
                            {% set titlePresence = false %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if component.id == change.components %}
                        {% if titlePresence == true %}
                            <h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">Version {{ keyXXX }}</h3>
                            <ul>
                        {% endif %}
                        {% set changePresence = true %}
                            {% include "component-version.twig" with {"key": keyXXX, titlePresence} %}
                            {% set titlePresence = false %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </ul>
        {% endfor %}
        {% set titlePresence = true %}
        {% for change in versionXX.changes %}
            {% if change.components is iterable %}
                {% for componentID in change.components %}
                    {% if component.id == componentID %}
                        {% if titlePresence == true %}
                            <h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">Version {{ keyXX }}</h3>
                            <ul>
                        {% endif %}
                        {% set changePresence = true %}
                        {% include "component-version.twig" with {"key": keyXX, titlePresence} %}
                        {% set titlePresence = false %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if component.id == change.components %}
                    {% if titlePresence == true %}
                        <h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">Version {{ keyXX }}</h3>
                        <ul>
                    {% endif %}
                    {% set changePresence = true %}
                    {% include "component-version.twig" with {"key": keyXX, titlePresence} %}
                    {% set titlePresence = false %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
    {% set titlePresence = true %}
    {% for change in versionX.changes %}
        {% if change.components is iterable %}
            {% for componentID in change.components %}
                {% if component.id == componentID %}
                    {% if titlePresence == true %}
                        <h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">Version {{ keyX }}</h3>
                        <ul>
                    {% endif %}
                    {% set changePresence = true %}
                    {% include "component-version.twig" with {"key": keyX, titlePresence} %}
                    {% set titlePresence = false %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if component.id == change.components %}
                {% if titlePresence == true %}
                    <h3 data-c-heading="h3" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">Version {{ keyX }}</h3>
                    <ul>
                {% endif %}
                {% set changePresence = true %}
                {% include "component-version.twig" with {"key": keyX, titlePresence} %}
                {% set titlePresence = false %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
{% endfor %}

{% if changePresence == false %}
    <p>No changes to report! (yet)</p>
{% endif %}