<div class="clone-component-description">
    <div data-c-container="medium">
        <div data-c-card data-c-background="white(100)" data-c-radius="rounded" data-c-padding="all(2)">
            <span id="content"></span>
            <p data-c-font-weight="bold">About {{ component.plural|title }}</p>
            {% if component.description == null %}
                <p data-c-margin="tb(1)">A description for this component is coming soon! You can check out the code below in the meantime.</p>
            {% else %}
                {% for item in component.description %}
                    <p data-c-margin="tb(1)">{{ item }}</p>
                {% endfor %}
            {% endif %}
            {% if component.children is empty %}
                <a data-c-button="outline(c1)" data-c-radius="rounded" href="#details" title="Learn more about how {{ title }} work.">More Info</a>&nbsp;&nbsp;&nbsp;<a data-c-button="outline(c1)" data-c-radius="rounded" href="#examples" title="See {{ title }} examples.">See Examples</a>&nbsp;&nbsp;&nbsp;<a data-c-button="outline(c1)" data-c-radius="rounded" href="#changes" title="See {{ title }} changes.">Changelog</a>
            {% else %}
                {# Parent components don't need quick actions. #}
            {% endif %}
            <p data-c-font-weight="bold" data-c-margin="top(2)">{{ component.title|title }} Accessibility</p>
            {% if component.accessibility == null %}
                <p data-c-margin="top(1)">A description of how this component is accessible is on its way!</p>
            {% else %}
                {% for item in component.accessibility %}
                    <p data-c-margin="top(1)">{{ item }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>