{% extends "../../templates/layout.twig" %}
{% set component = {
    id: "upd",
    title: "clone changelog"
} %}
{% block title %}{{ component.title|title }}{% endblock %}
{% block content %}
    {{ parent(component) }}
    {% include "../../templates/header.twig" with {component} %}
    <div data-c-container="medium" data-c-padding="bottom(3)">
        {# Most Recent Changes #}
        {% for key, versionX in changes %}
            {% if key == cloneVersion %}
                <h2 data-c-heading="h2" data-c-padding="top(3)" data-c-margin="bottom(1)">Most Recent Version: Major Update {{ key }}</h2>
                <p data-c-margin="bottom(1)">Published on: {{ versionX.date }}</p>
                {% include "version.twig" with {key, "version": versionX} %}
            {% else %}
                {% for key, versionXX in versionX.versions %}
                    {% if key == cloneVersion %}
                        <h2 data-c-heading="h2" data-c-padding="top(3)" data-c-margin="bottom(1)">Most Recent Version: Minor Update {{ key }}</h2>
                        <p data-c-margin="bottom(1)">Published on: {{ versionXX.date }}</p>
                        {# Minor Version Changes #}
                        {% include "version.twig" with {key, "version": versionXX} %}
                    {% else %}
                        {% for key, versionXXX in versionXX.versions %}
                            {% if key == cloneVersion %}
                                <h2 data-c-heading="h2" data-c-padding="top(3)" data-c-margin="bottom(1)">Most Recent Version: Patch {{ key }}</h2>
                                <p data-c-margin="bottom(1)">Published on: {{ versionXXX.date }}</p>
                                {% include "version.twig" with {key, "version": versionXXX} %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        {# Full Changelog #}
        <h2 data-c-heading="h2" data-c-padding="top(3)">Full History</h2>
        {% for key, versionX in changes %}
            <h3 data-c-heading="h3" data-c-padding="top(3) bottom(1)" data-c-margin="bottom(1)">Major Version: {{ key }}</h3>
            {% include "version.twig" with {key, "version": versionX} %}
            {% for key, versionXX in versionX.versions %}
                <h4 data-c-heading="h4" data-c-margin="top(2) bottom(1)">Minor Version: {{ key }}</h4>
                {# Minor Version Changes #}
                {% include "version.twig" with {key, "version": versionXX} %}
                {% for key, versionXXX in versionXX.versions %}
                    <div data-c-margin="left(1)">
                        <h5 data-c-heading="h5" data-c-margin="top(2) bottom(1)" data-c-padding="bottom(1)">Patch {{ key }}</h5>
                        {% include "version.twig" with {key, "version": versionXXX} %}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}